name: Pull Request Check
on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - uses: pre-commit/action@v3.0.1
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
      - name: pin python version
        run: uv python pin 3.13
      - name: Install tox-uv
        run: uv tool install tox --with tox-uv
      - name: Run tests
        run: tox -p
